/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

h1{
    color: blue;
}

div{
    background-color: green;
    /* font-family: 'Times New Roman', Times, serif;
    font-size: 80px; */
    font-style: comic sans ms;
}





